.page-wrapper {
  background-color: #f5f6fa;
  min-height: 100vh;
  padding-top: 70px;
  /* padding-left: 250px;  */
}

.page-header {
  /* margin-bottom: 20px; */
}

.page-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.breadcrumb {
  font-size: 13px;
  color: #888;
}

.filter-bar {
  margin-bottom: 20px;
}

.card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

.payment-table .ant-table-thead > tr > th {
  background: #0e82fd;
  color: #ffffff !important;
  font-weight: 600;
  border-bottom: 0;
  vertical-align: middle;
  text-align: left;
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.payment-table .ant-table-tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}

.client-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.client-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.session-mode {
  color: #2b6ef2;
  font-weight: 500;
}

.more-info-btn {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 3px 12px;
  font-size: 13px;
  transition: 0.2s;
}

.more-info-btn:hover {
  background-color: #333;
  color: #fff;
}

.status-badge {
  display: inline-block;
  min-width: 80px;
  text-align: center;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
}

.status-done {
  background-color: #00b96b;
}

.status-notdone {
  background-color: #ff4d4f;
}
